[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"
boto3 = "*"
dotenv = "*"
openai-whisper = "*"
motor = "*"
aiohttp = "*"
asyncio = "*"

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
