[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
blobfile = "*"
aiohttp = "*"
boto3 = "*"
python-dotenv = "*"
motor = "*"
transformers = "*"
openai-whisper = "*"
sentencepiece = "*"
protobuf = "*"
torch = "*"
ffmpeg-python = "*"
yt-dlp = "*"
tqdm = "*"
asyncio = "*"

[dev-packages]
bson = "*"
pre-commit = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
